# deps
node_modules
.pnp
.pnp.js
.pnpm-store

# builds
dist
.next
out
build
.turbo
.vercel

# env
.env
.env.local
.env.*.local

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# test
/coverage

# os / editor
.DS_Store
*.pem
*.tsbuildinfo
